<div class="page-header">
  <h2>Ideas Match</h2>

</div>


<div>
  <span class="glyphicon glyphicon-tags"> </span>

  <% @tags.each do |tag| %>

      <%= link_to tag.name, ideas_match_path(:tag => tag.name), :class => 'btn btn-info', :id => tag.name %>
  <% end %>

</div>

<br>
<div class="row">
  <% @ideas.each do |idea| %>

      <div class="col-sm-6 col-md-4">

        <div class="box">
          <%= image_tag idea.avatar.url(:medium) %>
          <div class="caption">
            <h3><%= link_to idea.content, idea %></h3>
            <p><%= idea.description %></p>
            <p><%= link_to '...', idea, class: 'btn btn-primary' %></p>

            <span class="glyphicon glyphicon-tags"> </span>
            <% idea.tags.any? %> 
            <% idea.tags.each do |tag| %> 
                <span class="label label-success"><%= tag.name %></span>
            <% end %>

          </div>
        </div>

      </div>

  <% end %>
</div>

<script>

  $(document).ready(function() {

    var query = String(location.href.split('?')[1]).split('=')[1];

    if (query != null) {
      document.getElementById(query).classList.remove('btn-info');
      document.getElementById(query).classList.add('btn-danger');
    }
  });

</script>